test.buskplayer.com {
    encode gzip

    # WebSocket for broadcasting
    handle /ws {
        reverse_proxy broadcaster:8081
    }

    # Icecast for streaming
    handle {
        reverse_proxy icecast:8000
    }
}
