test.buskplayer.com {
    # WebSocket for broadcasting
    handle /ws {
        reverse_proxy broadcaster:8081 {
            flush_interval -1
        }
    }

    # Icecast for streaming
    handle {
        reverse_proxy icecast:8000 {
            flush_interval -1
        }
    }
}
